*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lilita+One&family=Linden+Hill:ital@0;1&family=Luckiest+Guy&family=Metrophobic&display=swap');

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: sans-serif;
    box-sizing: border-box;
    background: #B2C2CD;
    /* padding: 0 80px; */
}

header{
    background: #A2B2B5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header .title{
    display: flex;
    gap: 40px;
}

header h1{
    font-family: "Linden Hill", serif;
    font-weight: 400;
    font-style: normal; 
    letter-spacing: 2.88px; 
    word-wrap: break-word"
}

header input{
    background: #D9D9D9;
     box-shadow: 0px 4px 4px #00000040; 
     border-radius: 25px;
     border: none;
     width: 275px;
     padding-left: 20px;
}

header .nav{
    display: flex;
    gap: 20px;
}

.nav a{
    font-size: 20px; 
    font-family: "Linden Hill", serif;
    font-weight: 400;
    font-style: normal; 
    word-wrap: break-word;
    padding: 10px 20px;
}

.login{
    background: #D9D9D9;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login:hover{
    background: #f5f3f3;
}

main{
    background: #B2C2CD;
    display: grid;
    padding: 30px 0;
    gap: 20px;
}

main .image{
    width: 320px; 
    height: 400px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-bottom-left-radius: 40px; 
    border-bottom-right-radius: 490px
}

.container{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.container .top{
    display: grid;
    gap: 20px;
}

.container .left_top{
    display: flex;
}

.left_top .about{
    padding: 40px 30px 30px 30px;
    background: #CBDADC; 
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.63); 
    border-radius: 45px; 
    width: 40rem;
    font-size: 20px; 
    font-family: "Libre Baskerville", serif;
    font-weight: 200;
    font-style: normal;
    word-wrap: break-word;
}

.left_top .info{
    font-size: 20px;
}


.right{
    display: flex;
    gap: 20px;
}

.right div{
    display: grid;
    gap: 20px;
}

.right .group1{
    position: relative;
    top: -15px;
}

.right img, .img{
    background: #ffffff;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.63); 
    border-radius: 20px;
    width: 199px; 
    height: 195px;
}
.img_lwr{
    height: 100px;
}

.info{
    font-size: 22px; 
    word-wrap: break-word
}


/* //create css */

.form_wrap{
    padding: 0 50% 0 20px;
    margin-top: -20px;
}

form{
    padding: 30px;
    background: rgb(206, 204, 204);
    border-radius: 10px;
}

.form{
    display: flex;
    gap: 10px;
}

.form .image_wrap{
    display: grid;
    gap: 10px;
}

.image_wrap label{
    text-align: center;
    background: #ffffff;
    width: 159px; 
    height: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form textarea{
    width: 20rem;
    max-width: 20rem;
    min-width: 20rem;
    border: none;
    padding: 20px;
    min-height: 17rem;
}

form input{
    display: none;
}

form .btn{
    display: flex;
    justify-content: right;
    padding: 0 50px;
}

form button{
    padding: 5px 20px;
    background: rgba(0, 0, 0, 0.884);
    border-radius: 10px;
    border: black;
    color: #ffffff;
    margin-top: 15px;
}

/* blog css */

.post{
    margin-left: 10rem;
}

.img_con{
    display: flex;
    gap: 15px;
    width: 50%;

}

.img_con img{
    border-radius: 0;
}

.img_con div{
    display: grid;
}

.text_post{
    padding: 5px 10px;
    min-height: 50px;
    background: #ffffff;
    width: 23.5rem;
    font-size: 15px;
}

.action{
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: right;
}

.comment{
    margin-right: 5rem;
    padding: 20px 40px;
    border-left: 1px solid rgb(51, 50, 50);
}

.comment form{
    padding: 0;
    background: none;

}

.comment form textarea{
    padding: 0 10px;
    width: 24rem;
    height: 4rem;
    min-width: 24rem;
    min-height: 4rem;
    max-width: 24rem;
    max-height: 4rem;
    border: none;
    border-radius: 10px;
}

/* blog css */

.col{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 18.5rem));
    width: 100%;
    padding: 0 30px;
}

.row{
    border-right: 1px solid rgb(44, 44, 44);
    padding: 10px 0 10px 20px;
    margin-bottom: 20px;
}

.row div{
    padding: 10px;
    min-height: 50px;
    background: #ffffff;
    margin-right: 32px;
}
.bottom{
    background: #F5F9FD;
    height: 80px;
}